
<nav class="navbar navbar-light"  style="background-color: rgb(255, 214, 51)" >
  <div class="container-fluid" >
    <a class="navbar-brand">Recipeace</a>
    <form class="d-flex">
      <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
        投稿する
      </button>
      <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success" type="submit">Search</button>
    </form>
  </div>
</nav>