<% recipes.each do |recipe| %>
  <div class="card mb-1 mx-auto"   style="max-width: 700px;">
    <div class="card-header" style="background-color: rgba(255, 255, 51, 0.53)">
      <%= recipe.dish_name %>
    </div>
    <div class="card-body" >
      <p class="card-text" ><small><%= simple_format recipe.cook_method %></small></p>
    </div>
    <div class="offset-1 pb-2">
    <%= link_to '編集', edit_recipe_path(recipe.id), method: :get, class: "btn btn-secondary btn-sm", remote: true %>
    <%= link_to '削除', recipe_path(recipe.id), method: :delete, class: "btn btn-secondary btn-sm",  data:{confirm: 'Are you sure?'} %>
    </div>
  </div>
<% end %>

<div id="product-modal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true"></div>
